@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";


@theme{
    --container-max-width:1560px;
    --container-padding-x:3rem;
}
.container{
    
        max-width: var(--container-max-width);
        padding-left: var(--container-padding-x);
        padding-right: var(--container-padding-x);
        margin-left: auto;
        margin-right: auto;
}